.credentials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.credentials-form {
    max-width: 400px;
    width: 100%;
    background-color: rgba(31, 41, 55, 0.3);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(55, 65, 81, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 1.5rem; 
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-heading {
    font-size: 1.875rem;
    font-weight: 700;
    color: #FBBF24;
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-label {
    font-size: 1rem;
    font-weight: 500;
    color: #9B5C2E;
    text-align: left;
    padding-left: 0.5rem;
}

.credentials-form .form-input {
    width: 100%; 
    box-sizing: border-box;
}

.credentials-form .submit-button {
    width: 100%;
    margin-top: 1rem;
    color: #9B5C2E;
    box-shadow: rgba(44, 108, 187, 0.7) 0 4px 6px -1px, rgba(44, 108, 187, 0.5) 0 2px 4px -2px;
}
.credentials-form .submit-button:hover {
    transform: scale(1.05);
    background-color: #1f2937;
    color: #FBBF24;
}