
.dice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    
    img {
      width: 45px;
      height: 45px;
      margin-bottom: 5px;
      border: 2px solid #111827;
      border-radius: 25%;
      object-fit: contain;
    }
    .active-dice {
      margin-bottom: 10px;
      border: 2px solid #FBBF24;
      width: 50px;
      height: 50px;
    }
  }
  .roll-container{
    margin-top: 15px;
    display: flex; /* Use flex to easily center the button inside */
    justify-content: center;
    width: 100%;
  }
  #roll-dice-button, #enter-button {
    border-radius: 25px;
    text-align: center;
    color: red;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    transition: all 250ms;
    border: 0;
    touch-action: manipulation;
    font-weight: 700;
    box-shadow: red 0 -25px 18px -14px inset, rgba(187, 84, 44, 0.7) 0 1px 1px, rgba(187, 84, 44, 0.7) 0 1px 2px, rgba(187, 84, 44, 0.7) 0 2px 4px, rgba(187, 84, 44, 0.7) 0 2px 8px, rgba(187, 84, 44, 0.7) 0 4px 16px;
  }
  #roll-dice-button:hover, #enter-button:hover {
    color: red;
    box-shadow: red 0 -25px 18px -14px inset, rgba(187, 84, 44, 0.7) 0 1px 2px, rgba(187, 84, 44, 0.7) 0 2px 4px, rgba(187, 84, 44, 0.7) 0 4px 8px, rgba(187, 84, 44, 0.7) 0 8px 16px, rgba(187, 84, 44, 0.7) 0 16px 32px;
    transform: scale(1.15) rotate(-3deg);
  }

.dice-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: auto;
  width: 200px;
  z-index: 10;
}