.game-over{
    
    max-height: 80vh;
    border-radius: 1.5rem;
    padding: 1.5rem;
    animation: fade-in 0.5s ease-out;
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: visible;
}
.game-over-text{
    margin: 50px 0;
    color: var(--background);
    z-index: 10;

}
.game-over-button{
    z-index: 10;
}
.game-over-gif{
    width: 100%;
}
.end-gif{
    margin: 10px 0;
    display: block;
    border-radius: 1.5rem;
}
#happy-duck{
    transform: translate(-15%);
}