.game-over-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.game-over{
    text-align: center;
    max-width: 60vw;
    width: 90%;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: transparent;
    animation: fade-in 0.5s ease-out;
    color: var(--background);
}
.game-over-text{
    margin: auto;
    color: var(--foreground);
}
.game-over-gif{
    Image{
        width: 10px; 
    }
}
