.main {
  background: url(../components/assets/Login_Page.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100vh;
  #landing-text {
    display: inline-block;
    padding: clamp(0.5em, 2vw, 1em);
    background-color: var(--background);
    width: fit-content;
    border-radius: 1.5rem;
    font-size: clamp(1rem, 4vw, 1.5rem);
  }
}
.start-buttons{
  margin: clamp(0.5em, 2vw, 1em);
  padding: clamp(0.7em, 2vw, 1em);
  box-shadow: var(--foreground);
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  white-space: nowrap;
}
.start-buttons-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .start-buttons-container {
    flex-direction: row;
    gap: 2rem;
  }
}