.lobby{
    background: url(../components/assets/lobbyBackground2.jpg) no-repeat;
    background-position: center;
    background-size: 75%;
    width: 100vw;
    height: 100vh;
    #game-sessions-div {
      background: url('../components/assets/lobbyBackground.png') no-repeat center cover;
      position: relative;
    }
    #lobby-character{
      position: absolute;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 5em;
      width: 100%;
      :first-child{
        width: 100%;
        height: 40vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #111827;
      }
    }
    #game-sessions-left-div{
      display: flex;
      flex-direction: column;
      float: left;
      position: relative;
      left: 8vw;
    }
    #game-sessions-right-div {
      display: flex;
      flex-direction: column;
      float: right;
      position: relative;
      right: 8vw;
    }
    .left-game-session-buttons{
      border: 3px solid #111827;
      padding: 1em;
      padding-bottom: 4em;
      margin: 1em;
      background-image: url(../components/assets/gameImage1.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .right-game-session-buttons{
      border: 3px solid #111827;
      padding: 1em;
      padding-bottom: 4em;
      margin: 1em;
      background-image: url(../components/assets/gameImage2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }