.lobby{
    width: 100vw;
    height: 100vh;
    background: url(../components/assets/Lobby_Page.png) no-repeat;
    background-position: center;
    background-size: cover;
    main{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    #game-sessions-div {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      max-width: 1000px; 
      height: 70vh;
      button{
        width: 250px;
        height: 200px;        
        border: 5px solid rgba(44, 108, 187, 0.7);
        border-radius: 15%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #111827;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;            
        padding: 0;
        margin: 1em;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 15px 30px rgba(255, 204, 0, 0.7);
          box-shadow: rgba(44, 108, 187, 0.7) 0 15px 30px -1px, rgba(44, 108, 187, 0.5) 0 2px 4px -2px;
        }
      }
    }
    #game-sessions-mid-div{
      display: inline;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    #game-sessions-left-div, #game-sessions-right-div{
      flex-direction: column;
      width: 30%;
      gap: 20px;
    }
    #session1{
      background-image: url(../components/assets/Scenario_1.png);
    }
    #session2{
      background-image: url(../components/assets/star_wars.png);
    }
    #session3{
      background-image: url(../components/assets/avatar.png);
    }
    #session4{
      background-image: url(../components/assets/harry_potter.png);
    }
    #session5{
      background-image: url(../components/assets/lord_of_rings.png);
    }
    .game-session{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .start-buttons-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  }