.lobby{
    width: 100vw;
    height: 100vh;
    background: url(../components/assets/Lobby_Page.png) no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    main{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    #game-sessions-div {
      flex-grow: 1;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 70vh;
      button{
        min-width: 250px;
        width: 20vw;
        min-height: 200px;
        height: 15vw;        
        border: 5px solid var(--foreground);
        border-radius: 15%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        font-size: clamp(1rem, 2vw, 2.5rem);
        font-weight: bold;
        color: var(--background);
        text-shadow: 2px 2px 4px var(--foreground);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;            
        padding: 0;
        margin: 2vw;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 15px 30px var(--background);
        }
      }
    }
    #game-sessions-mid-div{
      display: inline;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    #game-sessions-left-div, #game-sessions-right-div{
      flex-direction: column;
      width: 30%;
      gap: 20px;
    }
    #session1{
      background-image: url(../components/assets/Scenario_1.png);
    }
    #session2{
      background-image: url(../components/assets/star_wars.png);
    }
    #session3{
      background-image: url(../components/assets/avatar.png);
    }
    #session4{
      background-image: url(../components/assets/harry_potter.png);
    }
    #session5{
      background-image: url(../components/assets/lord_of_rings.png);
    }
    .game-session{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }