.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em 2em;
    background-color: var(--background);
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .dnd-icon{
      font-size: 2em;
      background: transparent;
      border: none;
    }
    .character-icon {
      font-size: 2em;
      background: transparent;
      border: none;
    }
    .character-info-div {
      float: right;
      position: relative;
    }
}

.bottom-nav-buttons {
    position: absolute;
    bottom: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    button {
      padding: 1em;
    }
}