@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: white;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
}
.start-buttons{
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
  opacity: .8;
}
header{
  padding: 2em;
}
h1{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
button{
  border-radius: 25px;
  text-align: center;
  background-color: black;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  touch-action: manipulation;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .character-icon{
    font-size: 2em;
    background: transparent;
    border: none;
  }
  .character-info-div{
    float: right;
    position: relative;
  }
}
.lobby{
  background: url(./components/assets/lobbyBackground.png) no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  #game-sessions-div{
    background: url('./components/assets/lobbyBackground.png') no-repeat center cover;
    position: relative;
  }
  #game-sessions-left-div{
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    left: 8vw;
  }
  #game-sessions-right-div{
    display: flex;
    flex-direction: column;
    float: right;
    position: relative;
    right: 8vw;
  }
  .left-game-session-buttons{
    border: 3px solid black;
    padding: 1em;
    padding-bottom: 4em;
    margin: 1em;
    background-image: url(./components/assets/gameImage1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .right-game-session-buttons{
    border: 3px solid black;
    padding: 1em;
    padding-bottom: 4em;
    margin: 1em;
    background-image: url(./components/assets/gameImage2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer{
  display: inline;
  text-align: center;
  justify-content: center;
  color: white;
  opacity: .7;
  position: relative;
  top: 50vh;
}

.main{
  background: url(./components/assets/mainBackground.png) no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.game{
  display: inline;
  width: fit-content;
  img{
    display: inline;
    width: 40vw;
  }
  input{
    box-shadow:rgba(44, 108, 187, 0.37) 0 1px 1px,rgba(44, 108, 187, 0.37) 0 1px 2px,rgba(44, 108, 187, 0.37) 0 2px 4px,rgba(44, 108, 187, 0.37) 0 2px 8px,rgba(44, 108, 187, 0.37) 0 4px 16px;
    border-radius: 25px;
    text-align: center;
    margin-right: 1em;
    padding: 10px;
    border: 0;
  }
  input::selection{
    border: transparent;
  }
}

.player-actions{
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dice {
  float: left;
  position: relative;
  left: 10vw;
  top: -10vh;
  img{
    width: 3em;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 25%;
  }
  img:hover{
    border: 2px solid blue;
    transform: scale(1.15);
    cursor: pointer;
  }  
  .active-dice{
    margin-bottom: 10px;
    border: 2px solid green;
  }
  .active-dice:hover{
    border: 2px solid greenyellow;
    cursor: pointer;
  }
}
#roll-dice-button{
  border-radius: 25px;
  text-align: center;
  background: transparent;
  color: rgb(181, 4, 4);
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  touch-action: manipulation;
  box-shadow:rgba(187, 84, 44, 0.37) 0 1px 1px,rgba(187, 84, 44, 0.37) 0 1px 2px,rgba(187, 84, 44, 0.37) 0 2px 4px,rgba(187, 84, 44, 0.37) 0 2px 8px,rgba(187, 84, 44, 0.37) 0 4px 16px;
}
#roll-dice-button:hover{
  color: red;
  box-shadow: red 0 -25px 18px -14px inset,rgba(187, 84, 44, 0.37) 0 1px 2px,rgba(187, 84, 44, 0.37) 0 2px 4px,rgba(187, 84, 44, 0.37) 0 4px 8px,rgba(187, 84, 44, 0.37) 0 8px 16px,rgba(187, 84, 44, 0.37) 0 16px 32px;
  transform: scale(1.15) rotate(-3deg);
}
.member{
  float: right;
  position: relative;
  right: 10vw;
  top: -10vh;
  .member-icon{
    font-size: 2.5em;
    border: 2px solid black;
    color: darkblue;
  }
  .member-icon-div{
    margin-bottom: 10px;
    border-radius: 25%;
    border: 2px solid black;
  }
  .member-icon-div:hover{
    border: 2px solid blue;
    transform: scale(1.15);
    cursor: pointer;
  }
  .member-icon.active-member{
    color: blue;
    border: 2px solid black;
    background: transparent;
  }
  .member-icon-div.active-member{
    border: 2px solid black;
    border-radius: 25%;
    background: transparent;
  }
  .member-icon-div.active-member:hover{
    border: 2px solid black;
    cursor: pointer;
    transform: scale(1.15);
  }
}
.main-session-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.character-sheet{
  background-position: center;
  width: 100vw;
  height: 100vh;
  input[type="file"] {
    padding: 1em;
    border-radius: 25%;
    background-color: #fff;
    color: #000;
    transition: border-color .25s ease-in-out;
    margin: 1em;
    &::file-selector-button{
      padding: 1em;
      border-radius: 25%;
      background-color: darkgreen;
      color: hsl(210 40% 90%);
      transition: all .25s ease-in-out;
      cursor: pointer;
      margin-right: 1em;
    }
    &:hover {
      border-color: #888;
      &::file-selector-button{
        background-color: green;
      }
    }
  }
  .character-info{
    .sub-info{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border: 2px solid white;
      padding: 1em;
      margin: auto;
    }
    .key-stats{
      margin: 1em;
      margin-top: 0;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      float: left;
      text-align: left;
      border: 2px solid white;
      padding: 1em;
    }
    .skills{
      margin: 1em;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      float: left;
      text-align: left;
      border: 2px solid white;
      padding: 1em;
    }
  }
}
.bottom-nav-buttons{
  position: absolute;
  bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  button{
    padding: 1em;
  }
}
.session-history-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2em;
  }
}
.message-log {
  transform : translateX(-50%);
  top : 10%;
  left: 50%;
  position : absolute;
  height : 50vh;
  width : 60vw;
  overflow-y:auto;
  border:1px solid #ccc;
  padding: 2em;
  background-color : rgba(0, 0, 0, 0.75);
  color: #fff;
  margin-bottom: 20px;
}